[Unit]
Description=Daily Linux Hardening Configuration Backup

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
